/.vs
/Andre/Andre.Core/bin
/Andre/Andre.Core/obj
/Andre/Andre.Formats/bin
/Andre/Andre.Formats/obj
/Andre/Andre.IO/bin
/Andre/Andre.IO/obj
/Andre/SoapstoneLib/SoapstoneLib/bin
/Andre/SoapstoneLib/SoapstoneLib/obj
/Andre/SoulsFormats/SoulsFormats/bin
/Andre/SoulsFormats/SoulsFormats/obj
/Havok/HKLib/bin
/Havok/HKLib/obj
/Havok/HKLib.Reflection/bin
/Havok/HKLib.Reflection/obj
/Havok/HKLib.Serialization/bin
/Havok/HKLib.Serialization/obj
/Havok/HKLib.Tests/bin
/Havok/HKLib.Tests/obj
/Havok/HKX2/ColBakeTest/bin
/Havok/HKX2/ColBakeTest/obj
/Havok/HKX2/HKX2/bin
/Havok/HKX2/HKX2/obj
/Havok/HKX2/HKX2ReadWrite/bin
/Havok/HKX2/HKX2ReadWrite/obj
/Havok/HKX2/HKXClassGen/bin
/Havok/HKX2/HKXClassGen/obj
/Hexa.NET.ImGui/bin
/Hexa.NET.ImGui/obj
/Hexa.NET.ImGui.Backends/bin
/Hexa.NET.ImGui.Backends/obj
/Hexa.NET.ImGui.Backends.GLFW/bin
/Hexa.NET.ImGui.Backends.GLFW/obj
/Hexa.NET.ImGui.Backends.SDL2/bin
/Hexa.NET.ImGui.Backends.SDL2/obj
/Hexa.NET.ImGui.Backends.SDL3/bin
/Hexa.NET.ImGui.Backends.SDL3/obj
/Hexa.NET.ImGui.Widgets/bin
/Hexa.NET.ImGui.Widgets/obj
/Hexa.NET.ImGui.Widgets.Extras/bin
/Hexa.NET.ImGui.Widgets.Extras/obj
/Hexa.NET.ImGuiNodeEditor/bin
/Hexa.NET.ImGuiNodeEditor/obj
/Hexa.NET.ImGuizmo/bin
/Hexa.NET.ImGuizmo/obj
/Hexa.NET.ImNodes/bin
/Hexa.NET.ImNodes/obj
/Hexa.NET.ImPlot/bin
/Hexa.NET.ImPlot/obj
/Smithbox.Core/bin
/Smithbox.Core/obj
/Smithbox.Program.DX11/bin
/Smithbox.Program.DX11/obj
