/.vs
/Smithbox.Core/bin
/Smithbox.Core/obj
/Smithbox.Program/bin
/Smithbox.Program/obj
/Hexa.NET.ImGui/bin
/Hexa.NET.ImGui/obj
/Hexa.NET.ImGui.Backends/bin
/Hexa.NET.ImGui.Backends/obj
/Hexa.NET.ImGui.Backends.GLFW/bin
/Hexa.NET.ImGui.Backends.GLFW/obj
/Hexa.NET.ImGui.Backends.SDL2/bin
/Hexa.NET.ImGui.Backends.SDL2/obj
/Hexa.NET.ImGui.Backends.SDL3/bin
/Hexa.NET.ImGui.Backends.SDL3/obj
/Hexa.NET.ImGuiNodeEditor/bin
/Hexa.NET.ImGuiNodeEditor/obj
/Hexa.NET.ImGuizmo/bin
/Hexa.NET.ImGuizmo/obj
/Hexa.NET.ImNodes/bin
/Hexa.NET.ImNodes/obj
/Hexa.NET.ImPlot/bin
/Hexa.NET.ImPlot/obj